.entire_page{
    background-color: azure;
}

.form{
    align-items: center;
    text-align: center;
}

.plot{
    align-items: center;
    text-align: center;

}

.answer{
    align-items: center;
    text-align: center;
}