.input-div{
    display: flex;
    justify-content: center;
}

.plot-div, .plot, .chart, .answer-chart, .error-chart{
    display: flex;
    justify-content: center;
}

.answer-chart, .error-chart{
    color: aliceblue;
}

.button{
    justify-content: center;
}

.table{
    display: flex;
    text-align: center;
    justify-content: center;
}