.input-div {
    display: contents;
    text-align: center;
    justify-content: center;
}

.input-div-sizeMatrix {
    display: contents;
    text-align: center;
    justify-content: center;
}

.input-matrix {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.content {
    display: flex;
    justify-content: center;
}

.input-matrixA,
.input-matrixB,
.answer-div,
.prove-answer {
    justify-content: center;
    text-align: center;
    padding: 10px;
}

.button-div {
    display: contents;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

.button-clear,
.button-submit {
    padding: 5px;
}


.chart {
    display: contents;
    text-align: center;
    justify-content: center;
}